## Pandas Veri Analizi - U.S Major League Soccer Salaries Veri Analizi

##### Pandas'ı Dahil Edin

In [1]:
import pandas as pd
import numpy as np

##### VeriSetini Okuyun

In [2]:
data = pd.read_csv("mls-salaries-2017.csv")

##### İlk 10 Veriyi Okuyun

In [3]:
data.head(n=10)

,club,last_name,first_name,position,base_salary,guaranteed_compensation
0,ATL,Almiron,Miguel,M,1912500.0,2297000.00
1,ATL,Ambrose,Mikey,D,65625.0,65625.00
2,ATL,Asad,Yamil,M,150000.0,150000.00
3,ATL,Bloom,Mark,D,99225.0,106573.89
4,ATL,Carleton,Andrew,F,65000.0,77400.00
5,ATL,Carmona,Carlos,M,675000.0,725000.00
6,ATL,Garza,Greg,D,150000.0,150000.00
7,ATL,Gonzalez Pirez,Leandro,D,250008.0,285008.00
8,ATL,Goslin,Chris,M,70000.0,74000.00
9,ATL,Gressel,Julian,M,75000.0,93750.00

##### Kaç tane Veri Olduğunu Bulun(Satır Sayısı)

In [8]:
len(data.index)

616

##### Tüm Maaşların Ortalaması Bulun.

In [9]:
data["base_salary"].mean()

296977.73686688306

##### En yüksek maaşı bulun

In [10]:
data["base_salary"].max()

6660000.0

##### En yüksek tazminata sahip futbolcunun soyadını bulun

In [25]:
data[data["guaranteed_compensation"].max() == data["guaranteed_compensation"]]["last_name"]

401    Kaka
Name: last_name, dtype: object

401    Kaka
Name: last_name, dtype: object

##### "Gonzalez Pirez" isimli futbolcunun oynadığı mevkiyi bulun.

In [29]:
data[data["last_name"] == "Gonzalez Pirez"]["position"].iloc[0]

'D'

##### Mevkilere göre futbolcuları gruplayarak mevkilerde ortalama maaşları bulun

In [31]:
data.groupby("position").mean()

            base_salary  guaranteed_compensation
position
D         166574.093784            179533.184811
D-M       134930.000000            154328.927857
F         489588.598349            557437.206514
F-M       335834.000000            367920.805000
F/M       125000.000000            131250.000000
GK        146472.515538            158665.155692
M         376106.218632            406781.788396
M-D       219032.250000            230282.250000
M-F       212975.604211            231104.551579
M/F       550000.000000            565000.000000

##### Verisetinde kaç farklı mevki olduğunu hesaplayın.

In [35]:
data.position.nunique()

10

##### Her mevkide kaç oyuncunun olduğunu hesaplayın

In [42]:
data.position.value_counts()

M      212
D      185
F      109
GK      65
M-F     19
D-M     14
F-M      6
M-D      4
M/F      1
F/M      1
Name: position, dtype: int64

##### Her takımda kaç kişinin oynadığını hesaplayın.

In [43]:
data.club.value_counts()

VAN      32
PHI      31
ATL      31
CLB      30
ORL      30
DAL      29
SJ       29
NYCFC    28
HOU      28
NYRB     28
TOR      27
RSL      27
POR      27
MTL      27
CHI      27
MNUFC    27
LA       27
DC       27
KC       26
COL      26
SEA      25
NE       23
LAFC      2
Name: club, dtype: int64

##### Soyadlarının içinde "son" geçen futbolcuları bulun

In [6]:
def find(last_name):
    for "son" in last_name.lower():
        return True
    return False




data[data["last_name"].apply(find)]

SyntaxError: cannot assign to literal (Temp/ipykernel_17348/1499424941.py, line 2)